@media screen and (min-width: 1440px) {
  body {
    background-image: url(../images/bg-desktop.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top 23.5rem center;
  }
}
